body {
  padding-top: 10vh;
  background-color: #f0f0f0;
}

h1 {
  color: #202020;
  font-size: 5.625vh;
}

h2 {
  color: #202020;
  font-size: 2.7vh;
}

h3 {
  color: #202020;
  font-size: 1.875vh;
}

p {
  color: #202020;
  font-size: 2vh;
}

/*Media queries for changing the max container width at diferent screen sizes*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 939px;
  }
  body {
    padding-top: 15vh;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1100px;
  }
  body {
    padding-top: 13vh;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1320px;
  }
}

#link1 {
  color: #302183;
}

.welcome {
  align-items: center;
  padding: 5vh 0vh;
}

.div100 {
  padding: 5vh 0vh;
}

.card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-text {
  text-align: center;
  color: #ffffff;
  font-size: 2.7vh;
  font-weight: bold;
}

.nav1 {
  margin-top: 10%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.navitems {
  max-width: 80%;
  width: 40%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

/* .navitem:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  filter: brightness(150%);
  text-decoration: none;

  -webkit-transition: transform .25s ease-in-out; transition: transform .25s ease-in-out;
  -moz-transition:transform .25s ease-in-out; transition:transform .25s ease-in-out;
  -ms-transition:transform .25s ease-in-out; transition:transform .25s ease-in-out;
} */

/* Underline styles */
a {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

/* Fade in */
a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	/* background-color: hotpink; */
	opacity: 0;
	transition: opacity .5s, transform .5s;
}

a:hover::after,
a:focus::after {
	opacity: 1;
  background-color: #49a58e;
	transform: translate3d(0, 0.2em, 0);
}

/* .navitem:hover {
  font-size: 1.6rem;
  filter: brightness(150%);
  text-decoration: none;
} */

/* Slide in */
.test {
	overflow: hidden;
}

.test a::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.test a:hover::after,
.test a:focus::after{
	transform: translate3d(0, 0, 0);
}

.videoGlow {
  box-shadow: 0 0 50px 25px rgba(41, 41, 41, 0.233);
}

.greyBackground{
  background-color: #e4e4e4;
}

.greenBackground {
  background-color: #328771;
}


.bigImageGlow{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}